---
layout: page
title: The most popular RabbitMQ-only event
description: >
  RabbitMQ Summit brings together RabbitMQ users and developers from around the world. Learn from speakers and keynotes on what’s happening in and around RabbitMQ.
image: /img/og-frontpage.jpg
footer-logo: /img/logo-2021-pink.png
---
<main id="main">
  <section class="bg-section pt-3 pt-lg-9 pb-3 pb-md-4" style="background-image: url(/img/bg-hero.png);">
    <div class="container">
      <div class="row align-items-center justify-content-center mb-4 mb-lg-2 top-hero">
        <div class="col-10 col-md-6 col-lg-4 col-xl-3 mt-4 mb-4 text-center">
          <a href="/" class="d-block text-center text-xl-left">
            <img src="/img/logo-generic.png" alt="RabbitMQ Summit" />
          </a>
        </div>
        <div>
        <h3 class="text-uppercase text-primary mb-0">
             <time datetime="2019-11-05"><span class="editable">July 13-14, 2021<br>online event</span></time>
           </h3>
        </div>
        <div class="row justify-content-center mb-4 mt-4">
        <div class="col-12 col-lg-10">
          <div class="text-sm text-info mb-3">
            <p class="editable text-sm">
              We're excited to announce that RabbitMQ Summit will be back in 2021. <br>
              The virtual format will allow us to bring together some of the world's biggest companies, using RabbitMQ, all in one place.<br><br>
              The summit will be held at Pacific Standard Time (PST) to suit attendees West and East, starting 9:00am, finishing around 1:30pm. In Central European Summer Time zone it's 18:00 - 22:30.<br><br>
              RabbitMQ continues to be the most widely deployed open source message broker, used by over 35,000 companies worldwide.
              It is the de facto standard for cloud messaging and the leading implementer of Advanced Message Queuing Protocol (AMQP), as well as supporting a host of other protocols, including MQTT and STOMP.<br><br>

              Don't miss out on your chance to hear the case studies, success stories and RabbitMQ development strategies from the leading people behind the development and support of RabbitMQ. They will showcase how RabbitMQ allows customers across the world and in diverse verticals to create class-leading, scalable and future-proof products. Previous speakers gave insights into the use of RabbitMQ in fintech, social media, IoT, cyber security etc.<br><br>
              Interested in becoming a sponsor? Send us an email to <a href="mailto:info@rabbitmqsummit.com" class="pink">info@rabbitmqsummit.com</a> and we will get back to you with a sponsorship brochure.<br><br>

            </p>
          </div>
          </div>
        </div>
      <div class="row justify-content-center mb-5">
        <div class="col-12 col-lg-10">
          <form id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="92D4C54F0FEC16E5ADC2B1904DE9ED1ABE67317EED1425F4DA1D22811AE14F233F38252D31218C83AEA852BBBB13EB2BE2D0771B1F041557C12A584799C4EB88" class="form text-info js-cm-form pt-3">
            <a name="subscribe"></a>
            <p class="mb-1 pl-3 text-sm"><span class="editable up-to-date">Stay up-to-date with upcoming events</span></p>
            <div class="form-check check-me ml-3 mb-3">
              <input class="form-check-input" type="checkbox" value="" id="default-check" required />
              <label class="form-check-label" for="default-check">
                I consent that my e-mail will be collected for information about RabbitMQ conferences.
              </label>
            </div>
            <div class="form-row justify-content-center">
              <div class="col-11 col-md-8 col-lg-7 col-xl-8 mb-3 mb-md-0">
                <label class="d-block input-label pr-md-3">
                  <input type="email" id="fieldEmail" name="cm-zdyhrt-zdyhrt" class="form-control js-cm-email-input" placeholder="email" required />
                </label>
              </div>
              <div class="col-11 col-md-4 col-lg-5 col-xl-4">
                <label class="button-lines-wrap" id="submit-fx">
                  <span class="lines" style="display: none;"></span>
                  <span class="lines" style="display: none;"></span>
                  <span class="lines" style="display: none;"></span>
                  <span class="lines" style="display: none;"></span>
                  <button type="submit" class="btn btn-primary w-100 text-uppercase js-cm-submit-button">subscribe</button>
                </label>
              </div>
            </div>
          </form>
          <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
          <div class="thank-you text-center" style="display: none;">
            <a href="https://twitter.com/RabbitMQSummit?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="false">Follow @RabbitMQSummit</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
<section class="bg-light pt-6 pb-6 pt-xl-7">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-12">
        <h3 class="text-uppercase text-center text-primary mb-5 editable">
          Register for the conference
        </h3>
      </div>
    </div>
    <div id="eventbrite-widget-container-153980219983"></div>

          <script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>

          <script type="text/javascript">
            var exampleCallback = function() {
                console.log('Order complete!');
            };

            window.EBWidgets.createWidget({
                // Required
                widgetType: 'checkout',
                eventId: '153980219983',
                iframeContainerId: 'eventbrite-widget-container-153980219983',

                // Optional
                iframeContainerHeight: 600,  // Widget height in pixels. Defaults to a minimum of 600px if not provided
                onOrderComplete: exampleCallback  // Method called when an order has successfully completed
            });
          </script>
  </div>
</section>
<!--Keynote speakers and schedule section-->
<section class="bg-section py-3 py-md-5 pt-lg-2 pb-lg-7 d-none d-md-block" style="background-image: url(/img/bg-img2.png)">
    <div class="container">
      <h3 class="text-uppercase text-primary text-center mt-7 mb-4 mb-lg-5">Keynote Speakers</h3>
      <div class="row justify-content-center mb-4 mb-md-7">
        <div class="speakers speakers-keynote col-10">
            <div class="speaker-list speaker-list--keynote">
            {% for speaker in site.data.schedule %}
            {% if speaker.keynote %}
              <div class="speaker">
                <div class="speaker__img speaker__img--keynote" style="background-image: url(/img/speakers/{{ speaker.speaker | replace: " ", "-" | downcase }}.jpg);""></div>
                <div class="speaker__text">
                  <h5 class="text-light text-uppercase mb-1">{{ speaker.speaker }}</h5>
                  <p class="text-primary text-uppercase mb-1">{{ speaker.role }}</p>
                  <p class="text-primary text-uppercase mb-1">{{ speaker.company }}</p>
                </div>
              </div>
              {% if speaker.co-speaker %}
              <div class="speaker">
                <div class="speaker__img speaker__img--keynote" style="background-image: url(/img/speakers/{{ speaker.co-speaker | replace: " ", "-" | downcase }}.jpg);""></div>
                <div class="speaker__text">
                  <h5 class="text-light text-uppercase mb-1">{{ speaker.co-speaker }}</h5>
                  <p class="text-primary text-uppercase mb-1">{{ speaker.co-role }}</p>
                  {% if speaker.co-company %}
                  <p class="text-primary text-uppercase mb-1">{{ speaker.co-company }}</p>
                  {% else %}
                  <p class="text-primary text-uppercase mb-1">{{ speaker.company }}</p>
                  {% endif %}
                </div>
              </div>
              {% endif %}
            {% endif %}
            {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-section py-3 py-md-5 pt-lg-2 pb-lg-7 d-none d-md-block" style="background-image: url(/img/bg-img2.png)">
    <div class="container">
      <a name="speakers"></a>
      <h3 class="text-uppercase text-primary text-center mb-4 mb-lg-7">Speakers</h3>
      <div class="row justify-content-center">
        <div class="speakers col-10 col-md-12 col-lg-11">
          <div class="speaker-list">
            {% for speaker in site.data.schedule %}
            {% unless speaker.keynote %}
            {% if speaker.speaker %}
              <div class="speaker">
                <div class="speaker__img" style="background-image: url(/img/speakers/{{ speaker.speaker | replace: "ä", "a" | replace: " ", "-" | downcase }}.jpg);"></div>
                <div class="speaker__text">
                  <h5 class="text-light text-uppercase mb-1">{{ speaker.speaker }}</h5>
                  <p class="text-primary text-uppercase mb-1">{{ speaker.role }}</p>
                  <p class="text-primary text-uppercase mb-1">{{ speaker.company }}</p>
                </div>
              </div>
              {% if speaker.co-speaker %}
              <div class="speaker">
                <div class="speaker__img" style="background-image: url(/img/speakers/{{ speaker.co-speaker | replace: "ä", "a" | replace: " ", "-" | downcase }}.jpg);""></div>
                <div class="speaker__text">
                  <h5 class="text-light text-uppercase mb-1">{{ speaker.co-speaker }}</h5>
                  <p class="text-primary text-uppercase mb-1">{{ speaker.co-role }}</p>
                  {% if speaker.co-company %}
                  <p class="text-primary text-uppercase mb-1">{{ speaker.co-company }}</p>
                  {% else %}
                  <p class="text-primary text-uppercase mb-1">{{ speaker.company }}</p>
                  {% endif %}
                </div>
              </div>
              {% endif %}
            {% endif %}
            {% endunless %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--section class="bg-light pt-4 pb-6 pt-lg-6">
    <div class="container">
      <a name="schedule"></a>
      <div class="row justify-content-center mb-3">
        <div class="col-12">
          <h3 class="text-uppercase pt-4 pt-lg-6 text-center text-primary mb-2 editable">
            Schedule
          </h3>
          <h3 class="text-uppercase text-center text-primary mb-4 mb-lg-5 editable">
            <time datetime="2018-11-12">July 13</time>
          </h3>
        </div>
      </div>
      <div class="schedule">
      {% for activity in site.data.schedule %}
        {% case activity.template %}
          {% when 'group' %}
            {% if activity.start %}
              <div class="time">
                <h4 class="text-primary text-uppercase text-left">
                  <time datetime="2019-11-04T{{ activity.start }}">{{ activity.start }}{% if activity.etime %}-{{ activity.etime }}{% endif %}</time>
                </h4>
              </div>
            {% endif %}
            <div class="group-event">
              <h4 class="text-uppercase">{{ activity.title }}</h4>
            </div>
          {% when 'alone' %}
            {% if activity.start %}
              <div class="time">
                <h4 class="text-primary text-uppercase text-left">
                  <time datetime="2019-11-04T{{ activity.start }}">{{ activity.start }}{% if activity.etime %}-{{ activity.etime }}{% endif %}</time>
                </h4>
              </div>
            {% endif %}
            <div class="alone column-border">
              <h4 class="text-uppercase mb-2">{{ activity.title }}</h4>
              {% if activity.speaker %}
                <p class="mb-lg-4">
                  <em>
                    {{ activity.speaker }}{% if activity.co-speaker %} &amp; {{ activity.co-speaker }}{% endif %}
                  </em>
                </p>
              {% endif %}
              {% if activity.abstract %}
                <p>{{ activity.abstract }}</p>
              {% endif %}
            </div>
            <div class="two">&nbsp;</div>
          {% when 'two' %}
            {% if activity.start %}
                <div class="time">
                  <h4 class="text-primary text-uppercase text-left">
                    <time datetime="2021-07-04T{{ activity.start }}">{{ activity.start }}{% if activity.etime %}-{{ activity.etime }}{% endif %}</time>
                  </h4>
                </div>
              {% endif %}
              <div class="two{% if activity.start %} column-border{% endif %}">
                <h4 class="text-uppercase mb-2">{{ activity.title }}</h4>
                {% if activity.speaker %}
                <p class="mb-lg-4">
                  <em>
                    {{ activity.speaker }}{% if activity.co-speaker %} &amp; {{ activity.co-speaker }}{% endif %}
                  </em>
                </p>
              {% endif %}
                {% if activity.abstract %}
                  <p>{{ activity.abstract }}</p>
                {% endif %}
              </div>
        {% endcase %}
      {% endfor %}
      </div>
    </div>
  </section>

<!-- End of keynote speakers and schedule section>

<!--Training section -->
<section class="event-section skew-img-section pt-3 pt-lg-7 pt-xl-9 pb-0 bg-light">
    <div class="container-fluid">
      <div class="skew-img-row row">
        <div class="img-event-wrap mb-3 mb-lg-0 col-12 col-lg-7 d-none d-lg-block">
          <div class="skew-box">
            <div><img src="/img/img-event01.jpg" alt="image" /></div>
          </div>
        </div>
        <div class="col-12 col-md-10 col-lg-5 mb-6 mb-md-0">
          <a name="training"></a>
          <div class="text text-success pl-lg-4 pt-lg-5 pb-5">
            <h5 class="d-block d-lg-none text-uppercase mb-3">Training</h5>
            <div class="hgroup pl-4 mb-4 skew-box text-uppercase text-primary">
            <!-- RMQ 5-day training section -->
            <h4 class="mb-md-1">Online training</h4>
              <h3 class="mb-0">5-day RabbitMQ Training</h3>
            </div>
            <h5 class="mt-0 text-uppercase">July 19-23 (EDT) or Sep 13-16 (CEST) <!--<span class="pink space-mono">$890</span>--></h5>
            <p class="editable text-sm">
              Learn the basics, from how to install, configure, and develop applications using RabbitMQ. Our course has plenty of examples to draw inspiration from.
            </p>
            <ul>
              <li class="editable text-sm">
                Understanding RabbitMQ and AMQP concepts
              </li>
              <li class="editable text-sm">
                Installing and operating RabbitMQ
              </li>
              <li class="editable text-sm">
                Optimizing and performance tuning RabbitMQ
              </li>
              <li class="editable text-sm">
                Deploying real world, resilient RabbitMQ architectures
              </li>
              <li class="editable text-sm">
                Building distributed microservices based messaging applications with RabbitMQ
              </li>
            </ul>
            <p class="editable text-sm"> <a href="https://rabbitmqsummit.com/training2021.html#beginners_training">More info</a> </p>
            <div class="text-lg-center">
              <label class="button-lines-wrap mt-4 text-center text-sm-left text-lg-center">
                <a id="eventbrite-widget-modal-trigger-2" class="call-for-talks btn btn-primary text-uppercase big-space-mono editable buy-button" href="https://www.eventbrite.co.uk/e/rabbitmq-summit-2021-tickets-153980219983" target="_blank">Book your ticket</a>
              </label>
            </div>
          </div>
        </div>
      </div>
      <!-- RMQ 5-day Expert Training section -->
      <div class="skew-img-row row">
        <div class="col-12 col-md-10 col-lg-5">
          <a name="expert training"></a>
          <div class="text text-success pl-lg-4 pt-lg-5 pb-5">
            <h5 class="d-block d-lg-none text-uppercase mb-3">Training</h5>
            <div class="hgroup pl-4 mb-4 skew-box text-uppercase text-primary">
              <h4 class="mb-md-1">Advanced Online training</h4>
              <h3 class="mb-0">5-day RabbitMQ Expert</h3>
            </div>
            <h5 class="mt-0 text-uppercase">Aug 30-Sep 3 (EDT) or Oct 4-8 (CEST)</h5>
            <p class="editable text-sm">
              Excellent for senior engineers, this advanced workshop will walk you through critical RabbitMQ Erlang/OTP based internals, from aspects such boot procedures to messaging operations and components which are usually hidden from general RabbitMQ users and operators, this training will stretch your understanding of RabbitMQ to the underlying designer and implementer’s perspective.
            </p>
            <ul>
              <li class="editable text-sm">
                Erlang Fundamentals
              </li>
              <li class="editable text-sm">
                RabbitMQ Initialization
              </li>
              <li class="editable text-sm">
              RabbitMQ Internal Design & Architecture
              </li>
              <li class="editable text-sm">
                Plugin Development
              </li>
              <li class="editable text-sm">
                Advanced Support Techniques
              </li>
            </ul>
            <p class="editable text-sm"> <a href="https://rabbitmqsummit.com/training2021.html#expert_training">More info</a> </p>
            <div class="text-lg-center">
              <label class="button-lines-wrap mt-4 text-center text-sm-left text-lg-center">
                <a id="eventbrite-widget-modal-trigger-3" class="call-for-talks btn btn-primary text-uppercase big-space-mono editable buy-button" href="https://www.eventbrite.co.uk/e/rabbitmq-summit-2021-tickets-153980219983" target="_blank">Book your ticket</a>
              </label>
            </div>
          </div>
        </div>
        <div class="img-event-wrap mb-3 mb-lg-0 col-12 col-lg-7 d-none d-lg-block">
          <div class="skew-box">
            <div><img src="/img/img-event02.jpg" alt="image" /></div>
          </div>
        </div>
      </div>
      <!-- Tutorial 1 section -->
      <div class="skew-img-row row">
        <div class="img-event-wrap mb-3 mb-lg-0 col-12 col-lg-7 d-none d-lg-block">
          <div class="skew-box">
            <div><img src="/img/img-event03.jpg" alt="image" /></div>
          </div>
        </div>
        <div class="col-12 col-md-10 col-lg-5 mb-6 mb-md-0">
          <a name="training"></a>
          <div class="text text-success pl-lg-4 pt-lg-5 pb-5">
            <h5 class="d-block d-lg-none text-uppercase mb-3">Tutorial:</h5>
            <div class="hgroup pl-4 mb-4 skew-box text-uppercase text-primary">
              <h4 class="mb-md-1">Online Tutorial</h4>
              <h3 class="mb-0">RabbitMQ Fast Track</h3>
            </div>
            <h5 class="mt-0 text-uppercase">July 15<!--<span class="pink space-mono">$350</span>--></h5>
            <p class="editable text-sm">
              Learn about the main concepts in RabbitMQ in the one day RabbitMQ Express training course taught by the RabbitMQ expert at Erlang Solutions. The training course will cover the following topics:
            </p>
            <ul>
              <li class="editable text-sm">
               RabbitMQ Fundamentals
             </li>
             <li class="editable text-sm">
               Building systems with RabbitMQ
             </li>
             <li class="editable text-sm">
               Extending RabbitMQ with Plugins
             </li>
             <li class="editable text-sm">
               Optimising & Troubleshooting RabbitMQ
             </li>
            </ul>
            <p class="editable text-sm"> <a href="https://rabbitmqsummit.com/training2021.html#fasttrack">More info</a> </p>
            <div class="text-lg-center">
              <label class="button-lines-wrap mt-4 text-center text-sm-left text-lg-center">
                <a id="eventbrite-widget-modal-trigger-4" class="call-for-talks btn btn-primary text-uppercase big-space-mono editable buy-button" href="https://www.eventbrite.co.uk/e/rabbitmq-summit-2021-tickets-153980219983" target="_blank">Book your ticket</a>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tutorial 2 start -->
    <div class="skew-img-row row">
      <div class="col-12 col-md-10 col-lg-5">
        <a name="expert training"></a>
        <div class="text text-success pl-lg-4 pt-lg-5 pb-5">
          <h5 class="d-block d-lg-none text-uppercase mb-3">Training</h5>
          <div class="hgroup pl-4 mb-4 skew-box text-uppercase text-primary">
            <h4 class="mb-md-1">Advanced Online Tutorial</h4>
            <h3 class="mb-0">RabbitMQ Fast Track Expert</h3>
          </div>
          <h5 class="mt-0 text-uppercase">July 16</h5>
          <p class="editable text-sm">
            Take a deep, 1-day dive in understanding the internals, underlying principles and secrets behind the design, architecture and implementation of RabbitMQ.
          </p>
          <ul>
            <li class="editable text-sm">
              Erlang OTP fundamentals for RabbitMQ
            </li>
            <li class="editable text-sm">
              RabbitMQ Initialization
            </li>
            <li class="editable text-sm">
            RabbitMQ Internal Design & Architecture
            </li>
          </ul>
          <p class="editable text-sm"> <a href="https://rabbitmqsummit.com/training2021.html#expert_fasttrack">More info</a> </p>
          <div class="text-lg-center">
            <label class="button-lines-wrap mt-4 text-center text-sm-left text-lg-center">
              <a id="eventbrite-widget-modal-trigger-3" class="call-for-talks btn btn-primary text-uppercase big-space-mono editable buy-button" href="https://www.eventbrite.co.uk/e/rabbitmq-summit-2021-tickets-153980219983" target="_blank">Book your ticket</a>
            </label>
          </div>
        </div>
      </div>
      <div class="img-event-wrap mb-3 mb-lg-0 col-12 col-lg-7 d-none d-lg-block">
        <div class="skew-box">
          <div><img src="/img/img-event04.jpg" alt="image" /></div>
        </div>
      </div>
    </div>
    <!-- Tutorial 2 end -->
  </section>
  <!-- end of training section -->
<section class="sponsor-section pt-7 pb-6">
  <div class="row align-items-center justify-content-center mb-4 mb-lg-2 top-hero">
    <div class="row justify-content-center mb-4 mt-4">
      <div class="col-12 mb-4 text-center">
        <h4 class="text-uppercase text-secondary editable">Organisers</h4>
        <a href="https://erlang-solutions.com" target="_blank">
          <img src="/img/logos/logo-erlang-solutions.png" alt="Erlang Solutions" class="w-100 sp-logo editable mt-3 ml-0 ml-sm-4" />
          <img src="/img/logos/logo-codesync-rmq.png" alt="Code Sync" class="w-100 sp-logo editable mt-3 ml-0 ml-sm-4" />
        </a>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-md-4 text-center mb-5">
          <h4 class="text-uppercase text-secondary editable">Platinum Sponsor</h4>
           <a href="https://84codes.com" target="_blank">
             <img src="/img/logos/logo-84codes-green-transparent.png" alt="84codes" class="w-100 sp-logo editable mt-3" />
           </a>
           <a href="https://www.influxdata.com" target="_blank">
             <img src="/img/logos/logo-influxdata.png" alt="influxdata" class="w-100 sp-logo editable mt-3" />
          </a>
         </div>
         <div class="col-12 col-lg-6 col-md-4 text-center mb-5">
           <h4 class="text-uppercase text-secondary editable">Silver Sponsor</h4>
            <a href="https://vmware.com" target="_blank">
              <img src="/img/logos/logo-VMware.png" alt="vmware" class="w-100 sp-logo editable mt-3" />
            </a>
          </div>
    </div>
  </div>
</section>
<section class="skew-img-section bg-light pb-0 pt-6 pt-xl-7">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-12 ">
        <h3 class="text-uppercase text-primary text-center editable">
          Become a Sponsor
        </h3>
      </div>
    </div>
    <div class="skew-img-row right row align-items-center">
      <div class="col-12 col-lg-5 col-xl-5 mr-auto ml-auto mb-5 mb-lg-0">
        <div class="text text-sm text-success sponsor-info">
          <p class="editable">
            Become part of our conference and let's make it the best RabbitMQ Summit it can be. Accessed from anywhere in the world, the event incorporates all the key components of our in-person conference and some more.
          </p>
          <p class="editable">
            The conference is hosted on a platform that focuses on social interaction and allows everyone to connect online in one place. It will also allow you to:
          </p>
          <ul>
            <li class="editable">Promote your brand and company in front of 300 RabbitMQ professionals</li>
            <li class="editable">Recruit developers, engineers, DevOps and some of the best talent in the industry</li>
            <li class="editable">Expand your network by meeting like-minded professionals within the RabbitMQ community</li>
            <li class="editable">Reach out to individuals and communicate the process, preconditions, culture and most importantly the technology</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-7 col-xl-7 img-event-wrap">
        <div class="skew-box py-10 py-lg-12" style="background-image: url(/img/lines-bg.jpg);">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 text interested text-light text-center text-lg-left">
              <h3 class="text-uppercase mb-lg-1 editable">
                <span class="d-lg-none">Want to know more?</span> Contact us <span class="d-none d-lg-inline">now</span>
              </h3>
              <p class="mb-lg-1 text-sm editable">
                Explore our sponsorship possibilities and receive our sponsorship brochure by sending us an email:
              </p>
              <a href="mailto:info@rabbitmqsummit.com" class="email-address text-primary">info@rabbitmqsummit.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="skew-img-section bg-light pb-0 pt-6 pt-xl-7">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-12 ">
        <h3 class="text-uppercase text-primary text-center editable">
          Volunteering and Diversity
        </h3>
      </div>
    </div>
    <div class="skew-img-row right row align-items-center">
      <div class="col-12 col-lg-5 col-xl-5 mr-auto ml-auto mb-5 mb-lg-0">
        <h3 class="text-uppercase mb-lg-1 editable">
          <span class="d-lg-none" color="pink"></span> Volunteering <span class="d-none d-lg-inline"></span>
        </h3>
        <div class="text text-sm text-success sponsor-info">
          <p class="editable">
              Want to join our RabbitMQ Summit free of charge? Apply to become a volunteer:
          </p>
            <label class="button-lines-wrap mt-4 text-center text-sm-left text-lg-center">
            <a id="volunteer form" class="volunteering btn btn-primary text-uppercase big-space-mono editable buy-button" href="https://docs.google.com/forms/d/e/1FAIpQLSfY1rNmgb8smSrq-7K2tskyrPTuzwwdC6qXA0uzALO8vkTJaw/viewform" target="_blank">Apply</a>
            </label>
        </div>
      </div>
      <div class="col-12 col-lg-7 col-xl-7 img-event-wrap">
        <div class="skew-box py-10 py-lg-12" style="background-image: url(/img/lines-bg.jpg);">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 text interested text-light text-center text-lg-left">
              <h3 class="text-uppercase mb-lg-1 editable">
                <span class="d-lg-none"></span> Diversity<span class="d-none d-lg-inline"></span>
              </h3>
              <p class="mb-lg-1 text-sm editable">
                We are always looking to improve diversity at our conferences. To help achieve this, we are providing free diversity places to under-represented groups in tech. Applications close on 5 July 2021
              </p>
              <label class="button-lines-wrap mt-4 text-center text-sm-left text-lg-center">
              <a id="diversity form" class="diversity btn btn-primary text-uppercase big-space-mono editable buy-button" href="https://docs.google.com/forms/d/e/1FAIpQLSejU_5eJvwUbuYXoxHlfjyA-k5iBDaAkVuOifd-nToUWvpLcA/viewform" target="_blank">Apply here</a>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Volunteering section
<section class="volunteering-diversity pt-7 pb-6">
  <div class="row align-items-center justify-content-center mb-4 mb-lg-2 top-hero">
    <div class="row justify-content-center mb-4 mt-4">
      <div class="col-12 mb-4 text-center">
        <h3 class="text-uppercase text-secondary editable">Volunteers</h3>
      </div>
      <div class="text-sm text-info mb-3">
        <p class="editable text-sm">
          Want to join our RabbitMQ Summit free of charge? Apply to become a volunteer:
        </p>
          <label class="button-lines-wrap mt-4 text-center text-sm-left text-lg-center">
            <a id="volunteer form" class="volunteering btn btn-primary text-uppercase big-space-mono editable buy-button" href="https://docs.google.com/forms/d/e/1FAIpQLSfY1rNmgb8smSrq-7K2tskyrPTuzwwdC6qXA0uzALO8vkTJaw/viewform" target="_blank">Apply</a>
          </label>
      </div>
  </div>
</section> -->

<!-- Diversity-->

<section class="bg-light pt-7 pb-6 pt-lg-6">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col-12">
          <h3 class="text-uppercase text-center text-primary mb-4 mb-lg-5 editable">Best talks from 2019 & 2018</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        {% for talk in site.data.best-talks %}
        <div class="col-12 col-md-6 col-xl-5 mb-5">
          <a href="https://www.youtube.com/watch?v={{ talk.youtube }}" class="talk-image youtube" data-embed="{{ talk.youtube }}" data-playlist="PLDUzG2yLXrU7gQAzZwMEkjkfTy0L5FsJx" target="_blank">
            <img src="{{ talk.lecture-img }}" class="img-fluid" alt="{{ talk.title }} - {{ talk.speaker }}" title="{{ talk.title }} - {{ talk.speaker }}"/>
          </a>
          <div class="links mt-1 mb-2">
            {% if talk.slideshare %}
            <a href="{{ talk.slideshare }}" class="float-right pink" target="_blank"><i class="fa fa-slideshare" aria-hidden="true"></i> Slides</a>
            {% endif %}
            <a href="https://www.youtube.com/watch?v={{ talk.youtube }}&list=PLDUzG2yLXrU7gQAzZwMEkjkfTy0L5FsJx" class="pink"><i class="fa fa-youtube-play" aria-hidden="true"></i> Watch the talk</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
<div class="img-effect-wrap mb-3">
  <img src="/img/line-green.png" alt="image description" class="w-100">
</div>
<section class="bg-light pt-6 pb-6 pt-xl-7">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-12">
        <h3 class="text-uppercase text-center text-primary mb-5 editable">
          Call for talks
        </h3>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-md-6 order-2 order-md-1">
        <div class="text text-sm text-success text-center">
          <p class="editable">
            Thank you all who submitted your talk to our Call for Papers, which ended on May 11th.
            If you would like to present a talk at the RabbitMQ Summit 2022 and share your experience and knowledge with the audience
            contact us at <a href="mailto:info@rabbitmqsummit.com" class="pink">info@rabbitmqsummit.com</a>
          </p>
          <label class="button-lines-wrap mt-4 text-center text-md-left mb-5 ml-4">
            <a class="big-space-mono btn btn-primary text-uppercase" href="https://eventil.com/events/rabbitmq-summit-2021/cfp" target="_blank">CFT has ended<span class="d-none d-sm-inline"></span></a>
          </label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col-12">
          <h4 class="text-uppercase text-center text-primary mb-3 editable">
            Programme Committee
          </h4>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-12">
          <div class="text text-sm text-success">
            <p class="editable text-center">
              The following RabbitMQ Summit Committee has the honor to review, rate and select submissions.
            </p>
          </div>
        </div>
    </div>
    <div class="row justify-content-center committee">
        {% for person in site.data.committee %}
        <div class="col-12 col-sm-6 col-md-5 mb-3">
          <div class="media">
            <div class="img mr-3" style="background-image: url(/img/committee/{{ person.img }})"></div>
            <div class="media-body">
              <h5 class="mt-0 text-uppercase">{{ person.name }}</h5>
              <p class="mb-1">
                <strong class="pink space-mono">{{ person.company }}</strong>
              </p>
              <p class="mb-0">
                {{ person.title }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
</section>
  <div class="img-effect-wrap mb-3">
    <img src="/img/line-green.png" alt="image description" class="w-100">
  </div>
  <section class="bg-light pt-6 pb-6 pb-xl-6 ">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10 col-lg-8">
          <h3 class="text-uppercase text-center text-primary mb-lg-5 editable">Code of Conduct</h3>
          <div class="text text-sm text-success">
            <p class="editable">All attendees, speakers, sponsors, and volunteers at our conference are required to agree with and follow the code of conduct.</p>
            <p class="editable">We are dedicated to providing a harassment-free conference experience for everyone, regardless of gender identity, sexual orientation, disability, physical appearance, body size, race, religion.. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue. </p>
            <p class="editable">Participants asked to stop any harassing behavior are expected to comply immediately.</p>
            <p class="editable">We expect participants to follow these rules at all conference venues and conference-related social events.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
