---
layout: page
title: The most popular RabbitMQ-only event
description: >
  RabbitMQ Summit brings together RabbitMQ users and developers from around the world. Learn from speakers and keynotes on what’s happening in and around RabbitMQ.
image: /img/og-frontpage.jpg
footer-logo: /img/logo-pink.png
---
<main id="main">
  <section class="bg-section pt-3 pt-lg-9 pb-3 pb-md-4" style="background-image: url(/img/bg-hero.png);">
    <div class="container">
      <div class="row align-items-center justify-content-center mb-4 mb-lg-2 top-hero">
        <div class="col-10 col-md-6 col-lg-4 col-xl-3 mt-4 mb-4 text-center">
          <a href="/" class="d-block text-center text-xl-left">
            <img src="/img/logo-generic.png" alt="RabbitMQ Summit" />
          </a>
        </div>
        <div>
        <h2 class="text-uppercase text-primary mb-0">
             <time datetime="2019-11-05"><span class="editable">July 13-14, 2021</span></time>
           </h2>
      </div>
      <div class="row justify-content-center mb-4 mt-4">
        <div class="col-12 col-lg-10">
          <div class="text-sm text-info mb-3">
            <p class="editable">
              <h4 class="text-uppercase text-secondary editable">13-14 July 2021</h4>
              RabbitMQ Summit brings together users and developers from around the world. Learn from speakers and keynotes on what&rsquo;s happening in and around RabbitMQ, and how top companies utilise RabbitMQ to power their services.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-7" id="newsletter">
        <div class="col-12 col-lg-10">
          <form id="subForm" action="https://erlang-solutions.us18.list-manage.com/subscribe/post?u=423b69277281ee496d4012469&amp;id=31b3107785" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="form text-info js-cm-form pt-3">
            <a name="subscribe"></a>
            <p class="mb-1 pl-3 text-sm"><span class="editable up-to-date">Stay up-to-date with upcoming events</span></p>
            <div class="form-check check-me ml-3 mb-3">
              <input class="form-check-input" type="checkbox" value="" id="default-check" required />
              <label class="form-check-label" for="default-check">
                I consent that my e-mail will be collected for information about RabbitMQ conferences.
              </label>
            </div>
            <div class="form-row justify-content-center">
              <div class="col-11 col-md-8 col-lg-7 col-xl-8 mb-3 mb-md-0">
                <label class="d-block input-label pr-md-3">
                  <input type="email" name="EMAIL" class="form-control js-cm-email-input" placeholder="email" id="mce-EMAIL" required />
                </label>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_423b69277281ee496d4012469_31b3107785" tabindex="-1" value=""></div>
              <div class="col-11 col-md-4 col-lg-5 col-xl-4">
                <label class="button-lines-wrap" id="submit-fx">
                  <span class="lines" style="display: none;"></span>
                  <span class="lines" style="display: none;"></span>
                  <span class="lines" style="display: none;"></span>
                  <span class="lines" style="display: none;"></span>
                  <button type="submit" class="btn btn-primary w-100 text-uppercase js-cm-submit-button" id="mc-embedded-subscribe">subscribe</button>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row justify-content-center mb-4 mt-4">
        <div class="col-12 mb-4 text-center">
          <h4 class="text-uppercase text-secondary editable">Organisers</h4>

          <a href="https://erlang-solutions.com" target="_blank">
            <img src="/img/logos/logo-erlang-solutions.png" alt="erlang solutions" class="w-100 sp-logo editable mt-3 ml-0 ml-sm-4" />
            <img src="/img/logos/logo-codesync-rmq.png" alt="Code Sync" class="w-100 sp-logo editable mt-3 ml-0 ml-sm-4" />
          </a>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="bg-light pt-6 pb-6 pt-xl-7">
  <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-12">
        <h3 class="text-uppercase text-center text-primary mb-5 editable">
          Call for talks is now open
        </h3>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-md-6 order-2 order-md-1">
        <div class="text text-sm text-success text-center">
          <p class="editable">
            Would you like to present a talk at the upcoming RabbitMQ Summit 2021, and share your experience and knowledge with the audience? Submit your talk now before May 11th.&nbsp;
          </p>
          <label class="button-lines-wrap mt-4 text-center text-md-left mb-5 ml-4">
            <a class="big-space-mono btn btn-primary text-uppercase" href="https://eventil.com/events/rabbitmq-summit-2021/cfp" target="_blank"> Submit your talk <span class="d-none d-sm-inline"></span></a>
          </label>
        </div>
      </div>
    </div>
</section>
  <section class="bg-light pt-7 pb-6 pt-lg-6">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col-12">
          <h3 class="text-uppercase text-center text-primary mb-4 mb-lg-5 editable">Talks from 2019</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        {% for talk in site.data.talks2019 %}
        <div class="col-12 col-md-6 col-xl-5 mb-5">
          <a href="https://www.youtube.com/watch?v={{ talk.youtube }}" class="talk-image youtube" data-embed="{{ talk.youtube }}" data-playlist="PLDUzG2yLXrU7gQAzZwMEkjkfTy0L5FsJx" target="_blank">
            <img src="{{ talk.lecture-img }}" class="img-fluid" alt="{{ talk.title }} - {{ talk.speaker }}" title="{{ talk.title }} - {{ talk.speaker }}"/>
          </a>
          <div class="links mt-1 mb-2">
            {% if talk.slideshare %}
            <a href="{{ talk.slideshare }}" class="float-right pink" target="_blank"><i class="fa fa-slideshare" aria-hidden="true"></i> Slides</a>
            {% endif %}
            <a href="https://www.youtube.com/watch?v={{ talk.youtube }}&list=PLDUzG2yLXrU7gQAzZwMEkjkfTy0L5FsJx" class="pink"><i class="fa fa-youtube-play" aria-hidden="true"></i> Watch the talk</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="sponsor-section pt-7 pb-6">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 mb-7 text-center">
          <h3 class="text-uppercase text-primary editable">Sponsors 2019</h3>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 col-md-4 text-center mb-5">
          <h3 class="text-uppercase text-secondary editable">Platinum Sponsor</h3>
          <a href="https://pivotal.io" target="_blank">
            <img src="/img/logos/logo-pivotal.png" alt="Pivotal" class="w-100 sp-logo editable mt-3" />
          </a>
          <a href="https://www.oliverwyman.com/" target="_blank">
            <img src="/img/logos/logo-oliver-wyman.png" alt="Oliver Wyman" class="w-100 sp-logo editable mt-3" />
          </a>
        </div>
        <div class="col-12 col-lg-6 col-md-4 text-center mb-5">
          <h3 class="text-uppercase text-secondary editable">Gold Sponsor</h3>
          <a href="https://www.nastel.com/" target="_blank">
            <img src="/img/logos/logo-nastel.png" alt="Nastel" class="w-100 sp-logo editable mt-3" />
          </a>
          <a href="https://aws.amazon.com/" target="_blank">
            <img src="/img/logos/logo-aws.png" alt="Amazon Web Services" class="w-100 sp-logo editable mt-3">
          </a>
        </div>
        <div class="col-12 col-lg-6 col-md-4 text-center mb-5">
          <h3 class="text-uppercase text-secondary editable">Silver Sponsor</h3>
          <a href="https://www.cogin.com/" target="_blank">
            <img src="/img/logos/logo-queue-explorer.png" alt="Queue Explorer" class="w-100 sp-logo editable mt-3" />
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-light pt-7 pb-6 pt-lg-6">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col-12">
          <h3 class="text-uppercase text-center text-primary mb-4 mb-lg-5 editable">Talks from 2018</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        {% for talk in site.data.talks2018 %}
        <div class="col-12 col-md-6 col-xl-5 mb-5">
          <a href="https://www.youtube.com/watch?v={{ talk.youtube }}" class="talk-image youtube" data-embed="{{ talk.youtube }}" data-playlist="PLDUzG2yLXrU4Lz33ZzSdHyfqdHJ8Zum5A" target="_blank">
            <img src="{{ talk.lecture-img }}" class="img-fluid" alt="{{ talk.title }} - {{ talk.speaker }}" title="{{ talk.title }} - {{ talk.speaker }}"/>
          </a>
          <div class="links mt-1 mb-2">
            {% if talk.slideshare %}
            <a href="{{ talk.slideshare }}" class="float-right pink" target="_blank"><i class="fa fa-slideshare" aria-hidden="true"></i> Slides</a>
            {% endif %}
            <a href="https://www.youtube.com/watch?v={{ talk.youtube }}&list=PLDUzG2yLXrU4Lz33ZzSdHyfqdHJ8Zum5A" class="pink"><i class="fa fa-youtube-play" aria-hidden="true"></i> Watch the talk</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="sponsor-section pt-7 pb-6">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 mb-7 text-center">
          <h3 class="text-uppercase text-primary editable">Sponsors 2018</h3>
        </div>
        <div class="col-12 col-md-4 text-center mb-5">
          <h3 class="text-uppercase text-secondary editable">Platinum Sponsor</h3>
          <a href="https://pivotal.io" target="_blank">
            <img src="/img/logos/logo-pivotal.png" alt="Pivotal" class="w-100 sp-logo editable mt-3" />
          </a>
          <a href="//tech.labs.oliverwyman.com/" target="_blank">
            <img src="/img/logos/logo-lshift.png" alt="LShift" class="w-100 sp-logo editable mt-3" />
          </a>
        </div>
        <div class="col-12 col-md-4 text-center mb-5">
          <h3 class="text-uppercase text-secondary editable">Gold Sponsor</h3>
          <a href="https://trifork.com/" target="_blank">
            <img src="/img/logos/logo-trifork.png" alt="Trifork - Think Software" class="w-100 sp-logo editable mt-3" />
          </a>
          <a href="https://aws.amazon.com/" target="_blank">
            <img src="/img/logos/logo-aws.png" alt="Amazon Web Services" class="w-100 sp-logo editable mt-3" />
          </a>
        </div>
        <div class="col-12 col-md-4 text-center mb-5">
          <h3 class="text-uppercase text-secondary editable">Silver Sponsor</h3>
          <a href="https://www.cogin.com" target="_blank">
            <img src="/img/logos/logo-queue-explorer.png" alt="Queue Explorer" class="w-100 sp-logo editable mt-3" />
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-light pt-6 pb-6 pb-xl-6 ">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col-12 col-md-10 col-lg-8">
          <h3 class="text-uppercase text-center text-primary mb-lg-5 editable">Code of Conduct</h3>
          <div class="text text-sm text-success">
            <p class="editable">All attendees, speakers, sponsors, and volunteers at our conference are required to agree with and follow the code of conduct.</p>
            <p class="editable">We are dedicated to providing a harassment-free conference experience for everyone, regardless of gender identity, sexual orientation, disability, physical appearance, body size, race, religion.. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue. </p>
            <p class="editable">Participants asked to stop any harassing behavior are expected to comply immediately.</p>
            <p class="editable">We expect participants to follow these rules at all conference venues and conference-related social events.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
