
		<footer id="footer" class="pt-5 pb-0">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 text-center mb-5">
						<div class="logo"><img src="{{ page.footer-logo }}" alt="RabbitMQSummit" class="w-100 footer-logo mb-4" /></div>
						<a href="https://twitter.com/RabbitMQSummit?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="false">Follow @RabbitMQSummit</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>
				</div>
			</div>
			<div class="footer-alt">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center py-3">
							<p class="mb-3 editable">
								&copy; All rights reserved 2018 - {{ 'now' | date: "%Y" }} - <a href="https://www.84codes.com/" target="_blank">84codes</a> &amp; <a href="https://erlang-solutions.com" target="_blank">Erlang Solutions</a>. Contact details: <a href="mailto:info@rabbitmqsummit.com">info@rabbitmqsummit.com.</a><br />RabbitMQ and the RabbitMQ Logo are trademarks of Pivotal Software, Inc.
							</p>
							<p class="mb-0 editable">
								The RabbitMQ Summit is organised by Code Sync and Erlang Solutions, where both of the parties are considered Data Controllers under the GDPR. Privacy policies for each party can be found at: <a href="https://codesync.global/privacy_policy/">Code Sync</a> and <a href="https://www.erlang-solutions.com/privacy-policy.html" target="_blank">Erlang Solutions</a>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
