<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="/img/logo.png">
  <link rel="stylesheet" href="{{ "/css/starter.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="alternate" type="application/rss+xml" title="{{ page.name }}" href="/feed.xml" />
  <link rel="alternate" type="application/atom+xml" title="{{ page.name }}" href="/atom.xml" />
  <script src="{{ "/js/vendor/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  {% seo %}
</head>
