<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="/img/logo.png">
  <link rel="stylesheet" href="{{ "/css/starter.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="alternate" type="application/rss+xml" title="{{ page.name }}" href="/feed.xml" />
  <link rel="alternate" type="application/atom+xml" title="{{ page.name }}" href="/atom.xml" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117930966-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-117930966-1');
  </script>

  {% seo %}
  <script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Event",
    "name" : "RabbitMQ Summit 2019",
    "startDate" : "2019-11-05",
    "location" : {
      "@type" : "Place",
      "name" : "CodeNode",
      "address" : {
        "@type" : "PostalAddress",
        "streetAddress" : "10 South Pl",
        "addressLocality" : "London",
        "addressCountry" : "GB",
        "postalCode" : "EC2M 7EB"
      }
    },
    "image" : "https://rabbitmqsummit.com/img/og-frontpage.jpg",
    "description" : "RabbitMQ Summit brings together RabbitMQ users and developers from around the world. Learn from speakers and keynotes on what’s happening in and around RabbitMQ."
  }
  </script>
</head>
