<script src="{{ "/js/popper.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/scrollTo.js" | prepend: site.baseurl }}"></script>
<!-- Twitter universal website tag code -->
<script>
  !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
  },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
  a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
  // Insert Twitter Pixel ID and Standard Event data below
  twq('init','o05gs');
  twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
<script type="text/javascript">
  _linkedin_partner_id = "476706";
  window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
  window._linkedin_data_partner_ids.push(_linkedin_partner_id);
  </script><script type="text/javascript">
  (function(){var s = document.getElementsByTagName("script")[0];
  var b = document.createElement("script");
  b.type = "text/javascript";b.async = true;
  b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
  s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=476706&fmt=gif" />
</noscript>
<script type="text/javascript">
  $(function() {
    var youtube = document.querySelectorAll( ".youtube" );
    for (var i = 0; i < youtube.length; i++) {
      youtube[i].addEventListener( "click", function(e) {
        e.preventDefault();
        var wrapper = $(this);
        var iframe = document.createElement( "iframe" );
        iframe.setAttribute( "style", "height: " + wrapper.height() + "px");
        iframe.setAttribute( "frameborder", "0" );
        iframe.setAttribute( "allowfullscreen", "" );
        iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1&list="+ this.dataset.playlist );
        wrapper.removeClass("talk-image");
        this.innerHTML = "";
        this.appendChild( iframe );
      } );
    }
  });
</script>

<script type="text/javascript">
  $(function() {
    function getSearchParams(k){
     var p={};
     location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){p[k]=v})
     return k?p[k]:p;
    }

    var fnCloseNotification = function(e) {
      $(".rs-notification").fadeOut(300);
    }

    $(".rs-close").click(function(){
      fnCloseNotification();
    });
    if (getSearchParams("registered") == 1) {
      $("#subForm").hide();
      $('.thank-you').hide();
      $(".rs-notification-confirm").delay(1000).fadeIn(500);
      setTimeout(function(){
        fnCloseNotification();
      },7000);
    }
    if (getSearchParams("registered") == 2) {
      $("#subForm").hide();
      $(".rs-notification-subscribed").delay(1000).fadeIn(500);
      $('.thank-you').show();
      setTimeout(function(){
        fnCloseNotification();
      },7000);
    }

    var subFormBtn = $("#submit-fx");
    var subFormCheck = $("#default-check");
    subFormCheck.click(function() {
      if (this.checked) {
        subFormBtn.find('.lines').fadeIn();
      } else {
        subFormBtn.find('.lines').hide();
      }
    });
  });
</script>
