<script src="{{ "/js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/popper.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/scrollTo.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">
  $(function() {
    function getSearchParams(k){
     var p={};
     location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){p[k]=v})
     return k?p[k]:p;
    }
    if (getSearchParams("registered") == 1) {
      $("#subForm").hide();
      $(".check-email").show();
      $('.thank-you').hide();
    }
    if (getSearchParams("registered") == 2) {
      $("#subForm").hide();
      $(".check-email").hide();
      $('.thank-you').show();
    }
    var subFormBtn = $("#submit-fx");
    var subFormCheck = $("#default-check");
    subFormCheck.click(function() {
      if (this.checked) {
        subFormBtn.find('.lines').fadeIn();
      } else {
        subFormBtn.find('.lines').hide();
      }
    });
  });
</script>
