<script type="text/javascript">
  $(function() {
    function getSearchParams(k){
     var p={};
     location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){p[k]=v})
     return k?p[k]:p;
    }
    if (getSearchParams("registered") == 1) {
      $("#subForm").hide();
      $(".check-email").show();
      $('.thank-you').hide();
    }
    if (getSearchParams("registered") == 2) {
      $("#subForm").hide();
      $(".check-email").hide();
      $('.thank-you').show();
    }
  });
</script>
